{% load static %}

  <header class="main-header">
            <!-- Logo -->
            <a href="" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini">پنل</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>خوش آمدید ❤️</b></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->

                        <!-- User Account: style can be found in dropdown.less -->
                        <header>
                            <div class="header-content">
                                <!-- سایر محتواهای هدر مثل لوگو -->
                                <div class="social-icons">
                                    <a href="https://www.instagram.com/hamedj2270" target="_blank"><i
                                            class="fab fa-instagram" style="font-size: 40px"></i></a>
                                    <a href="https://t.me/Hamed_dev0101" target="_blank"><i
                                            class="fab fa-telegram" style="font-size: 40px"></i></a>
                                    <a href="https://www.linkedin.com/in/yourprofile" target="_blank"><i
                                            class="fab fa-linkedin" style="font-size: 40px"></i></a>

                                </div>
                            </div>
                        </header>

                        <!-- Control Sidebar Toggle Button -->

                    </ul>
                </div>
            </nav>
        </header>

